.DS_Store
.gradle
.idea
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.yardoc
.yardopts
*.log
build
target
storage
out
nbactions.xml
nb-configuration.xml
test-results
*.class
node_modules
node
.vertx
/jel-server/src/main/generated/
/jel-server/file-uploads/